<ul class='notes'>
	<h1>My Notes:</h1>
  <%= render @notes %>
</ul>

<div class='form_toggle'>
	<h3>Review a class?</h3>
</div>

<%= form_for(Note.new, :remote => true) do |f| %>
  <%= f.text_area :text, placeholder: 'Write a reivew', :cols => 30, :rows => 7 %>
  <%= f.submit %>
<% end %>
