<h1 class='notes-heading'>My Notes:</h1>

<ul class='notes'>
</ul>

<script data-notes type="text/json">
	<%= @notes.to_json.gsub('/', '\\/').html_safe %>
</script>

<script data-yelp type='text/json'>
</script>

<div class='add-note'>
	<h3>Review a class?</h3>

	<%= form_for(Note.new, :remote => true) do |f| %>
	  <%= f.text_area :text, placeholder: 'Write a reivew', :cols => 30, :rows => 7 %>
	  <%= f.submit %>
	<% end %>

<ul class='yelp-results'>
</ul>
