<div class='notices'>
  <div class='successful-signout'>
    Successfully signed out.
  </div>
  <div class='successful-signin'>
    Welcome back, <span class='user'><% if current_user %><%= current_user.username %><% end %></span>!
  </div>
  <div class='successful-signup'>
    Welcome to YogaPad, <span class='user'><% if current_user %><%= current_user.username %><% end %></span>!
  </div>
  <div class='signup-errors'>
  </div>
  <div class='signin-errors'>
  </div>
</div>
