<div class='sign-status'>
  <div class='signed-in'>
    <span class='user'><% if current_user %><%= current_user.username %><% end %></span>
    <%= link_to 'Sign Out', signout_path, :class => 'sign-out' %>
  </div>
	<div class='sign-actions'>
    <span id='signin-toggle'>SignIn</span>
    <div id="signin-form">
    	<%= render 'shared/signin' %>
    </div>
		<span id='signup-toggle'>SignUp</span>
		<div id='signup-form'>
			<%= render 'shared/signup' %>
		</div>
	</div>
</div>
