/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.likeabutton {
	margin-left: 1%;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none; font: menu; color: ButtonText;
  display: inline-block; padding: 2px 8px;
}

.note-body {
  margin-left: 1%;
}

.notes-heading {
	float: left;
  margin: 0;
}

.yelp-results {
	float: left;
}

.invalid-zipcode {
	display: none;
}

.more:hover{
  background-color: #ccc;
}

.note-body{
  width: 100%;
}

.notes-heading{
  float: left;
  clear: left;
}

.add-note{
  float: left;
  clear: left;
}

.notes {
  float: left;
  clear: left;
  width: 50%;
}

.notes li {
  list-style: none;
  width: 100%;
}

.searching {
  display: none;
}

.yelp-results {
  position: absolute;
  right: .67%;
  top: 60px;
  list-style: none;
  padding: 0;
  width: 20%;
}

.yelp-results li{
  width: 100%;
  font-size: .9em;
  float: right;
}

.yelp-results a {
  text-decoration: none;
  color: black;
}

.yelp-results a{

}

.yelp-results a span:hover{
  background-color: #ccc
}


.yelp-results img{
  width: 30px;
}

.yelp-notices {
  position: absolute;
  top: 50px;
  right: 2%;
}

.yelp-success {
  height: 20px;
  margin-top: -10px;
}

.note-date {
  font-size: .7em;
}

.notices {
  height: 30px;
}

.action {
  height: 30px;
  position: absolute;
  left: .67%;
}

.action.success {
  color: green;
}

.action.error {
  color: red;
}

#note_text {
  width: 295px; /* 300px less the 5px of left padding*/
  height: 80px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
  background-color:#ccc;
  color:#333;
  padding-left: 5px;
  border: 1px solid #000;
  border-radius:5px 5px 5px 5px;
}

.yelp-error{
  color: red;
}


