/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.likeabutton {
	margin-left: 1%;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none; font: menu; color: ButtonText;
  display: inline-block; padding: 2px 8px;
}

.notes-heading {
	float: left;
  margin: 0;
}

.yelp-results {
	float: left;
}

.invalid-zipcode {
	display: none;
}

.note-created, .note-deleted{
  color: green;
}

.more:hover{
  background-color: #999;
}

.note-body{
  width: 100%;
}

.notes-heading{
  float: left;
  clear: left;
}

.add-note{
  float: left;
  clear: left;
}

.notes {
  float: left;
  clear: left;
  width: 60%;
}

.notes li {
  list-style: none;
}

.searching {
  display: none;
}

.yelp-results {
  position: absolute;
  right: .67%;
  top: 60px;
  list-style: none;
  background-color: #ccc;
}

.yelp-notices {
  position: absolute;
  right: .67%;
  top: 42px;
}

.results-by {
  height: 20px;
  margin-top: 15px;
  display: none;
}

.note-date {
  font-size: .7em;
}

.notices {
  height: 30px;
}

.note-action {
  color: green;
  height: 30px;
  position: absolute;
  left: .67%;
}
