body {
	font-family: 'Bree Serif', serif;
}

.yelp{
	float: right;
	margin-right: 2%;
}

.top-nav{
	height: 50px;
	background-color: #ccc;
}

.title {
	float: left;
	margin-left: 1%;
	margin-top: 7px;
	font-size: 2em;
}
