body {
	font-family: 'Bree Serif', serif;
	margin: 0;
}

.yelp{
	float: right;
	margin-right: 2%;
}

#type{
	border-radius:5px 5px 5px 5px;
}

#zipcode{
	border-radius:5px 5px 5px 5px;
}


.top-nav{
	height: 50px;
	background-color: #ccc;
}

.title {
	float: left;
	margin-left: 1%;
	margin-top: 7px;
	font-size: 2em;
}
